/*ZD 100147 Start*/
/* Copyright (C) 2015 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/
/*ZD 100147 ZD 100886 End*/
.tablediv {background-color: lightblue;  border: 2px solid #666;}
.roomlistdiv {background-color: lightgreen;  border: 1px solid #AAA;}
.celldiv  {width: 100%; margin: 0px; border-bottom: 1px solid #AAA;}
.yaxlediv {height: 100%;  margin: 0px; border: 0px solid #AAA; float: left; text-align: right; padding-right:0px; padding-bottom:0px; padding-left:0px; padding-top:0px; width:100%; font-size: 8pt; font-family: Arial, verdana, helvetica; overflow: hidden;}
.timediv {height: 100%; width: 100%; background-color: lightyellow;  margin: 0px; border: 0px solid #AAA; float: left;}
.confdiv {background-color: lightpink;  margin: 0px; border: 0px solid #AAA; float: left; text-align: left;}
.rmnamediv {margin: 0px; border: 0px solid #AAA; float: center; text-align: center; display: table-cell; vertical-align: text-bottom; color: #3c5c82; font-family: Verdana, Helvetica; font-size: 8pt; font-weight: bold;}
.conftypenamediv {margin: 0px; border: 0px solid #AAA; float: center; text-align: center; display: table-cell; vertical-align: text-bottom; color: black; font-family: Verdana, Helvetica; font-size: 9pt; font-weight: normal;}
.linktext {font-weight: normal; font-size: 10pt; vertical-align: bottom; color: blue; padding-top: 2pt; padding-left: 3pt; font-family: Times New Roman, verdana, helvetica; text-decoration: underline;}
.rmsplitdiv {background-color: #6600FF;  border: 0px solid #666;}
.rmdaydiv {height: 100%; background-color: #DDFFFF;  margin: 0px; border: 0px solid #AAA; float: left; text-align: left; padding-left: 3px;background-image: url(../image/testinfo.gif); background-repeat: no-repeat !important; background-position: top right;}
.rmdaydiv {height: 100%; background-color: #DDFFFF;  margin: 0px; border: 0px solid #AAA; float: left; text-align: left; padding-left: 3px;}
.rmdaydivexpand {height: 100%; background-color: #D8FFB0;  margin: 0px; border: 0px solid #AAA; float: left; text-align: left; padding-left: 3px;}
.conftminfotxt {font-weight: bold; font-size: 8pt; color: red; font-family: Courier New, verdana, helvetica;}
.confnminfotxt {font-weight: bold; font-size: 8pt; color: darkblue; font-family: Arial, verdana, helvetica; text-decoration: underline; cursor:pointer;}
.calcmmttext {font-weight: bold; font-size: 8pt; vertical-align: bottom; color: gray; font-family: Tahoma, Arial, verdana, helvetica;}
.subtitlenametxt {font-weight: bold; font-size: 12pt; color: blue; font-family: Verdana;}
.buffertext{font-weight: normal; font-size: 10pt; vertical-align: bottom; color: blue; padding-top: 2pt; padding-left: 3pt; font-family: Times New Roman, verdana, helvetica;}

/*linktext: widest letter-W is 13.8px, high: 20px*/
input.btn {
   color:#005;
   width: 60px;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}
input.btnhov{
   color:#050;
   width: 60px;
   cursor:pointer;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
	background-color:#cec;
	filter:progid:DXImageTransform.Microsoft.Gradient(
		GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffaaddaa');
} 